html(lang='en')
  head
    style.
      .btn {
      background-color: #2ab3f6;
      border: none;
      color: white;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 15px;
      font-size: 16px;
      }
      .boarder{
      max-width: 600px;
      padding: 1rem;
      position: relative;
      background: linear-gradient(to bottom, #28b3f6, #2ab3f6, #708ae8);
      padding: 20px;
      }
      .box{
      background: #FFFFFF;
      color: black;
      padding: 2rem;
      }
      .logo {
      max-width: 40%;
      height: auto;
      padding-bottom: 0px;
      }
      .title{
      color : #0000A0;
      font-size: 180%;
      }
      .middle{
      color : #FFC502;
      font-size: 150%;
      }
      .bottom{
      color : #000000;
      font-size: 120%;
      display: inline-block;
      }
      table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      }
      td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      }
      tr:nth-child(even) {
      background-color: #dddddd;
      }
      tr:nth-child(odd) {
      background-color: #ffffff;
      }
  body
    .boarder
      .box
        center
          img.logo(src='https://ionbahamas.org/js/react/src/imgs/logo.jpg')
          div.title Monthly Donations Report #{lastMonth}
        br
        h3
          | Total New Members #{totalNewMembers}
        table
          tbody
            tr
              th Name
              th Type
              th Amount
              th Date Donated
            - for (var i = 0; i < lastMonthSignUps.length ; i++) {
              tr
                td #{lastMonthSignUps[i].Fname} #{lastMonthSignUps[i].Lname}
                td #{lastMonthSignUps[i].Type}
                td #{lastMonthSignUps[i].Price}
                td #{lastMonthSignUps[i].record_created}
            - }
        h2
          | Total Revenue : #{revenue}
